{% extends 'catalogapp/base.html' %}
{% block content %}
<div class="card mx-auto" style="max-width:400px">
  <div class="card-body">
    <h3 class="card-title">Manager Login</h3>
    {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label>Password</label>
        <input type="password" name="manager_password" class="form-control"/>
      </div>
      <button class="btn btn-primary">Log in</button>
    </form>
  </div>
</div>
{% endblock %}
